<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53871194831-km5g960v9s7no72f8i0lu856gvtoeb8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53871194831-km5g960v9s7no72f8i0lu856gvtoeb8c</string>
	<key>API_KEY</key>
	<string>AIzaSyC2bOD4Jeef0bdjdm9wfLWunPM7glKFoew</string>
	<key>GCM_SENDER_ID</key>
	<string>53871194831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TOPS.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-apps-5f5f1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-apps-5f5f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53871194831:ios:eb560693e6f82c81f4bdba</string>
</dict>
</plist>